html{
    max-height: 200px;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

section{
    background-color: #dddddd;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #B1ADA6;
}

nav{
    width: 760px;
    height: 90px;
    background-color: #F8F3E9;
    border: 1px black solid;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    justify-content: center;
    align-content: center;
}

li{
    display: inline-block;
    height: width: 80px;
    width: auto;
    margin: 2px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    color: black;
    fill: white;
}

.other{
    background-color: #3C444E;
    color: white;
}
.other:hover{
    background-color: #3AA1E7;
}

#selected{
    color: black;
}

img{
    height: 20px;
    width: 20px;
    fill: white;
}